#if ($stylists)
  <h1>Stylist name: $stylists.getName()</h1>
  <ul>
    #foreach($client in $stylists.getClients())
        <li><a href="/stylists/$stylists.getId()/clients/$client.getId()">$client.getName()</a></li>
    #end
  </ul>
#else
  <em><p>Oops! We can't seem to find that Category.</p></em>
#end

<a href="/">Home</a>