<h1>Hair Salon</h1>

<h2> All Stylists: </h2>

<span>Click on stylist to update or delete</span>

#if($stylists)

  <ul>
    #foreach ($stylist in $stylists)
      <li><a href="/stylists/update/$stylist.getId()">$stylist.getName()</a></li>
    #end
  </ul>
#else
  <p>There are no Stylists yet!</p>
#end